@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet"');
@font-face {
  font-family: Ubuntu;
  src: url(/profile/fonts/Ubuntu-Regular.ttf);
}
body {
	background: linear-gradient(90deg, #fdfcfb 0%, #E0E0E0 100%);
	font-family: 'Ubuntu', sans-serif;
}

/* General Start */

.color-blue{
	color:#284173;
}

.container {
	float:left;
	position:relative;
	width:100%;
}

.hr-red{
  border-top: 1px solid #9e0220;
  width:80%;
  margin-left:10%;
  margin-top:2%;
}

.page-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
    text-align: center;
    padding-top:15px;
    margin-top:60px;
}

/* General End */

/* Experience Cards Start */

.company-card {
	float:left;
	/*background:rgb(199, 199, 199, 0.49);*/
	background-color:#ffffff;
	margin-left:10%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	padding:5px;
  	width:80%;
  	margin-top:20px;
}

.company-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.company-card-title {
	width:auto;
	height:auto;
	max-height:100px;
	max-width:200px;
	text-align:center;
	margin-left: auto;
  	margin-right: auto;
  	display: block;
}
.center-align{
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
}
.center-align-heading{
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	color:#284173;
}

.fl{
	float:left;
}
.project-card {
	float:left;
  	padding:1%;
  	width:95%;
}

/**
.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}**/

.project-img-icon {
	width:auto;
	height:auto;
	max-height:200px;
	max-width:250px;
	text-align:center;
  	text-align: center;
}

.project-img-icon-box{
	border: 1px solid;
  	border-radius:10px;
  	background-color:#c5c5c5;
  	float:left;
  	margin-top:25px;
  	width:260px;
	max-height:200px;
	display:table-cell; 
	vertical-align:middle; 
	text-align:center
}
.project-text{
	margin-left:30%;
	font-family: 'Roboto', sans-serif;
}

/* Experience Cards End */

/* Porfolio image Start*/

.portfolio-image{
	float:right;
	margin-top: 3%;
    margin-right: 5%;
}
.name-div{
    margin-top: 20%;
    margin-right: 10%;
    line-height: 1em !important;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Long Cang', cursive;
    /*color:#9e0320;*/
    /*color:#3377cc;*/
    color:#284173;
    float:right;
    font-size:70px;
}

/* Porfolio image End*/



